:root {
    --primary: #FF6B01;

}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,400&display=swap');

body {
    margin: 0; 
    background-color: whitesmoke;
}

.container {
    max-width: 414px;
    min-height: 100vh;
    margin: auto;
    color: white;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: white;
}

.hamburger {
    display: flex;
    margin: 16px 10px;
    background-color: var(--primary);
    border-radius: 16px;
    height: 122px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hamburger .text {
    margin-left: 16px;
    align-self: center;
}

.hamburger h1 {
    font-size: 20px;
}

.hamburger p {
    font-size: 8px;
}

.hamburger .img {
    height: 100%;
}

.hamburger img {
    height: 122px;
    border-bottom-right-radius: 16px;
}

.list-makanan {
    display: grid;
    margin: 0 10px;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-gap: 10px;
}

.card {
    border-radius: 16px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
}

.card img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card .detail {
    margin: 8px 16px;
    text-align: start;
    color: black;
}

.card h1 {
    font-size: 12px;
    font-weight: 600;
}

.card p {
    font-size: 8px;
}

.card h3 {
    font-size: 10px;
    font-weight: 600;
    position: static;
    color: var(--primary);
}

.card .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .button {
    height: 15px;
    width: 30px;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: #FF6B01;
    color: white;
}

.card .button:hover {
    height: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: white;
    position: sticky;
    padding: 0.5rem 0;
    bottom: 0;
}

.menu a {
    color: var(--textDark);
    text-decoration: none;
}

.itemMenu {
    margin: 0px 40px;
    color: black;
}

.itemMenu p {
    font-size: 12px;
    margin: 0;
    font-weight: 700;
}

.itemMenu .active {
    color: var(--primary);  
    border-top: var(--primary);
}

